body {
    font-family: "Roboto", sans-serif;
    background-color: #cde4de;
    color: #333;
}

a {
    text-decoration: none; /* Bootstrap já faz isso, mas podemos garantir */
}

h1, h2, h3 {
    margin-bottom: 15px;
}

/* --- Header --- */
header .logo img {
    height: 50px; 
    width: auto; 
    display: block;
}

header h1 {
    margin: 0;
    font-size: 1.8em;
}

footer h3 {
    border-bottom: 1px solid #41bcaa;
    padding-bottom: 5px;
}

.carousel-img {
    aspect-ratio: 16 / 9; /* Proporção da imagem (opcional) */
    object-fit: cover;
    width: 100%;
}
.card-raca {
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    background: #fff;
    transition: box-shadow 0.3s ease;
    display: block; /* Garante que o link ocupe o espaço */
    color: #333; /* Cor do texto do link */
}

.card-raca:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-decoration: none;
}

.card-raca img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 4px;
    background-color: #eee;
    margin: 0 auto;
}
.card-raca span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
/* --- Página de Detalhes: Info Geral --- */
.info-container {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Estilos para a imagem e características*/
.info-container .foto-principal img {
    border: 1px solid #ccc;
    background-color: #eee;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
}

.info-container .caracteristicas ul {
    margin-top: 10px;
}


/* --- Página de Detalhes: Mais Fotos --- */
.grid-mais-fotos img {

    border: 1px solid #ccc;
    background-color: #eee;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
}

